HTMLParser.xcodeproj/project.xcworkspace/contents.xcworkspacedata
HTMLParser.xcodeproj/project.xcworkspace/xcuserdata/erema.xcuserdatad/UserInterfaceState.xcuserstate
HTMLParser.xcodeproj/xcuserdata/erema.xcuserdatad/xcschemes/HTMLParser.xcscheme
HTMLParser.xcodeproj/xcuserdata/erema.xcuserdatad/xcschemes/xcschememanagement.plist
